/* Geral */
body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Fundo preto */
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Contêiner Principal */
.main-container {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Título */
h1 {
      font-size: 40px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    margin-right: 50px; /* Movimenta o título para a esquerda */
}
/* Links estilo Linktree */
.linktree {
    margin-top: 30px;
}

.linktree-button {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px 0;
    background-color: #777; /* Cinza */
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 15px; /* Bordas arredondadas */
    width: 80%;
    max-width: 400px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.linktree-button:hover {
    background-color: #666; /* Cor mais escura quando passa o mouse */
}
