/* Corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #6a0dad; /* Petro */
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Header */
header {
    padding: 20px;
    background-color: #333;
    color: white;
}

header h1 {
    margin: 0;
}

/* Notificação de Primeiro Acesso */
.app-notify {
    display: none;
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.app-notify.visible {
    display: block;
}

.app-notify-button {
    padding: 10px 20px;
    background-color: #222;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

/* Conteúdo Principal */
.content {
    padding: 50px 20px;
}

/* Seção de Bypass */
.bypass-section {
    margin-top: 30px;
}

.bypass-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.bypass-title span {
    font-size: 30px;
    color: #fff;
}

.main-button {
    padding: 15px 30px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px; /* Bordas arredondadas */
    font-size: 16px;
}

.main-input {
    padding: 15px;
    width: 80%;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #222;
    color: white;
}

/* Resultado */
.main-result {
    display: none;
    margin-top: 30px;
}

.main-result.data-get {
    display: block;
}

.result-button {
    padding: 10px 20px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.result-content {
    margin-top: 20px;
    font-size: 18px;
    color: #bbb;
}
