/* Geral */
body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Fundo preto */
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Contêiner Principal */
.main-container {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Título */
h1 {
    font-size: 40px;
    margin-bottom: 30px;  /* Ajuste para ficar mais alinhado com o botão */
    font-weight: bold;
    text-align: center;  /* Garantir que o título fique centralizado */
}

/* Links estilo Linktree */
.linktree {
    margin-top: 30px;
}

.linktree-button {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px 0;
    background-color: #777; /* Cinza */
